
<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.schoolname }}</h2> -->
         <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
 

         <p class="text">
{{ site.address | newline_to_br  }}
      </div>

      <div class="footer-col  footer-col-2">
       <ul class="social-media-list">
     

          {% if site.github_username %}

{% endif %}

          {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fab fa-twitter" style="color:gray"></i> {{ site.twitter_username }}
    </a>
  </li>
{% endif %}

          {% if site.google_scholar_id %}
  <li>
    <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
      <i class="ai ai-google-scholar" style="color:gray"></i> {{ site.google_scholar_id }}
    </a>
  </li>
{% endif %}

          {% if site.orcid_id %}
  <li>
    <a href="https://orcid.org/{{ site.orcid_id }}">
      <i class="ai ai-orcid" style="color:gray"></i> {{ site.orcid_id }}
    </a>
  </li>
{% endif %}

          {% if site.schoolurl %}
  <li>
    <a href="{{site.schoolurl}}">
      <i class="fas fa-globe" style="color:gray"></i> {{site.schoolurl |  remove: "https://" | remove: "http://" | remove: "www." }}
    </a>
  </li>
{% endif %}
        </ul>
      </div>
<!--
          {% if site.enable_clustrmaps_icon %}
    <div class="footer-col footer-col-3"><ul class="social-media-list"> 
      <li style="max-width: 3vw; height: auto; text-align: center;" >
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d={{ site.clustrmaps }}"></script>
      </li>  </ul>  
    </div>
  {% endif %}
-->
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          
          {% if site.enable_clustrmaps_icon and site.clustrmaps_id %}
            <li>
              <div id="clustrmaps-container">
                  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d={{ site.clustrmaps }}"></script>
              </div>
            </li>
          {% endif %}
          

    <!-- 
    {% if site.enable_clustrmaps_icon and site.clustrmaps_id %}
      <a href="https://clustrmaps.com/site/{{ site.clustrmaps_id }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ '_images/globe.jpg' }}"  style="width: 50px; height: 50px; border-radius: 50%; box-shadow: 0 0 10px rgba(45, 125, 165, 0.1);">
        <span>ClustrMaps</span>
      </a>
    {% endif %} -->
        </ul>
      </div>
<!---->
    </div>

  </div>

</footer>
